@using ComixHub.Application.Issues.DTOs;

@if (Issue is not null)
{
    <article>
        <a href="@($"comics/issues/{Issue.Id}")" class="comic-link">
            <figure>
                <img src=@Issue.ImageUrl alt=$"{@Issue.Title} image" />
            </figure>
            <h5>@Issue.Title</h5>
        </a>
    </article>
}

@code {
    [Parameter]
    public IssueListItem? Issue { get; set; }
}
