@page "/comics/issues"
@using ComixHub.Application.Issues.DTOs;
@using ComixHub.Blazor.Data
@using ComixHub.Blazor.Pages.Comics.Issues
@using ComixHub.Blazor.Shared.Services;
@inject IssuesService IssuesService
@inject IJSRuntime JSRuntime
@inject DebounceService DebounceService

<PageTitle>Issues</PageTitle>

<RadzenText TextStyle="TextStyle.DisplayH2" TextAlign="TextAlign.Center">Issues</RadzenText>

@if (issues == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start">
        <RadzenTextBox @bind-Value="TitleFilter" @oninput="@((ChangeEventArgs args) => DebounceService.Debounce(() => TitleFilterChanged(args.Value.ToString())))" Placeholder="Title" />
    </RadzenStack>

    <RadzenDataList Data="@issues" TItem="IssueListItem" ColumnCount="4" WrapItems="true">
        <Template Context="issue">
            <IssueListItemComponent Issue="issue" />
        </Template>
    </RadzenDataList>

    <RadzenPager Count="(int)total" PageNumbersCount="5" PageSize="_pageSize" PageChanged="@PageChanged" />
}
