@page "/comics/issues"
@using ComixHub.Blazor.Data
@using ComixHub.Blazor.Pages.Comics.Issues
@inject IssuesService IssuesService

<div class="container">
    <h3>Issues</h3>

    <div class="filters input-group">
        <input class="form-text" @bind="TitleFilter" />
    </div>

    @if (issues == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <section>
            @foreach (var issue in issues)
            {
                <IssueListItemComponent Issue="issue" />
            }
        </section>
    }
</div>
